﻿@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<string>
<!DOCTYPE html>
<html>
    <head>
        <title>Troll Tickets</title>
        <style>
/* layout */
html, body {
	height: 100%;
	width: 100%;
    margin: 0;
    padding: 0;
}

/* design */
body {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
	
	display: -ms-flexbox;
	-ms-flex-align: center;
	-ms-flex-pack: center;
	
}
a {
    text-decoration: none;
    color: black;
}
h1 {
	text-align: center;
	line-height: 3rem;
    width: 75vw;
}
        </style>
    </head>
    <body>
        <h1><a href="~/">@Model</a></h1>
    </body>
</html>
